<%- include("../partials/header") %>

<!--
================================================
Home Page

Purpose:
Landing page of the application.

Explains what the app does.
================================================
-->

<section class="container">

<h1>Welcome to BookToAction</h1>

<p>
This app helps you remember books you've read
and convert insights into actionable plans.
</p>

<a href="/add-book" class="btn">
Add Your First Book
</a>

</section>

<%- include("../partials/footer") %>d